.container{
  
  width: 90%;
  margin: 2em;
}

.submit-button{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 91%;
 }


#tweet-text{
  outline: none;
  border: none;
  width: 91%;
 border-bottom: 3px black solid;
 padding: 0.25em;
 background-color: #f4f1ec;
 font: italic bold;
 
}

article {
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 1em;
  border: 3px solid black;
  width: 82%;
    
}

article:hover {
  box-shadow: 5px 7px #b0a9b8;
  
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {   
  margin-right: 10px;  
}

.namePic {
  display: flex;
  flex-direction: row;  
}

.name {
  font-family: Source Sans Pro;
  font-size: 20px;
}

.mrIsaac {
  color: #b0a9b8;
  font-size: 20px;
}



footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px black solid;
  font-size: 15px;
  padding-top: 0.25em ;
  align-items: center;
}

.rightFoot{
/* background-color: #4056A1; */
  color: #4056A1;
}
.rightFoot i:hover {
  color: goldenrod;
}

#error-message {
   justify-self: center;
     display: inline-block;
    width:60%;
   border: 3px solid red;
   align-items: center;
    color: red;
    margin-bottom: 3em;
    margin-top: 1em;
    padding: 20px;
   
    
    font-family: Helvetica,Arial,sans-serif;

}

#error-message1 {
  
justify-self: center;
  /* width: 100%;  */
  display: inline-block;
  width:60%;
 border: 3px solid red;
 align-items: center;
  color: red;
  margin-bottom: 3em;
  margin-top: 1em;
  padding: 20px;
 
  
  font-family: Helvetica,Arial,sans-serif;

}

.btn {
  font-family: Bungee;
  font-size: 17px;
  background-color: #4056A1;
  color: white;
}

.tweetBody{
  
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;

}


